@import "../node_modules/open-color/open-color.css";
@import "../node_modules/normalize.css/normalize.css";

.body {
  background-color: var(--oc-gray-0);
  color: var(--oc-gray-7);
}
 
a {
  text-decoration: none;
  color: var(--oc-red-4);
  
  &:hover {
    color: var(--oc-red-6);
  }
  
  &:focus {
    color: var(--oc-red-7);
  }
  
  &:active {
    color: var(--oc-red-9);
  }
  
}